@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';
@import'./../../../media.scss';

section {
    width: 100%;
    height: 170vh;
    background-color: $background_color;
}

.about-header {
    @include dFlex($jc: space-between);
}

.about-me-contain {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20vh;
}

.title-contain {
    color: $color_white;

    h2 {
        font-weight: 700;
        line-height: 77px;
        font-size: 90px;
        font-family: 'Poppins';
        color: $color_white;
    }

    span {
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

.about-me-contain1 {
    display: flex;
    align-items: center;
    gap: 5vh;
    margin-top: 5vh;
    width: 45vw;
    margin-left: 5vw;

    span {
        color: $color_white;
    }
}

.image-contain {
    @include dFlex();
    margin-bottom: -179px;

    .profile-img {
        width: 350px;
        height: 350px;
        overflow: hidden;
        border: 4px solid #00BEE8;
        border-radius: 50%;
        @include dFlex();

        img {
            width: 100%;
        }
    }

    img {
        width: 43%;
    }
}

.about-me-vector {
    position: absolute;
    right: 0;
}

@media (max-width:800px) {
    section {
        height: 85vh;
    }

    .image-contain {
        display: none;
    }

    .about-me-contain {
        @include dFlex();
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        height: 78vh;
    }

    .title-contain {
        position: relative;
        z-index: 1;

        h2 {
            width: 226px;
            height: 54px;
            font-weight: 700;
            line-height: 54px;
            font-size: 45px;
            font-family: 'Poppins';
            color: $color_white;
        }

        span {
            width: 339px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 2vw;
            margin-bottom: 2vw;
        }
    }

    .about-me-contain1 {
        width: 339px;
        margin-left: 0;
    }

    span {
        width: 252px;
        height: 114px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }

    .about-me-vector {
        top: 592px;
        width: 123px;
    }
}