<section>
    <div class="about-header">
        <div class="about-me-contain">
            <div class="title-contain">
                <h2>About me</h2>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo non voluptate provident fugiat
                    excepturi!
                    Perspiciatis perferendis blanditiis, soluta hic pariatur illum quos, laudantium autem qui aliquam
                    maxime
                    molestias cumque fugit.
                </span>
            </div>
            <div>
                <div class="about-me-contain1">
                    <img src="./../../../assets/img/shadows/bulb desktop.svg" alt="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odit dolorem error vero
                        totam,
                        fuga iusto consequatur placeat tenetur maxime magni libero quam aperiam, nisi doloribus id
                        facilis
                        aliquid nulla.
                    </span>
                </div>
                <div class="about-me-contain1">
                    <img src="./../../../assets/img/shadows/puzzle desktop.svg" alt="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda ullam numquam quidem
                        quam
                        vel voluptate dolorem, minima fugit asperiores eligendi porro natus nostrum magni tempore
                        similique
                        placeat eum facilis.
                    </span>
                </div>
            </div>
        </div>
        <img class="about-me-vector" src="./../../../assets/img/shadows/about_me_vector.svg" alt="">
        <div class="image-contain">
            <div class="profile-img">
                <img src="./../../../assets/img/profild1.png" alt="">
            </div>
            <img src="./../../../assets/img/shadows/LINE_7.svg" alt="">
        </div>

    </div>
</section>