@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';
@import'./../../../media.scss';

section {
    width: 100%;
    height: 200vh;
    background-color: $background_color;
}

.vector {
    width: 100%;
    margin-top: -57vh;

    img {
        width: 100%;
        height: auto;
    }
}

.about-contain {
    @include dFlex($jc: space-between);
    margin-top: -85vh;
    margin-right: 15vw;


}

.about-contain1 {
    @include dFlex($jc: start, $g: 120px);

    span {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: $color_white;
    }
}

.scroll-contain {
    @include dFlex($g: 3px);
    flex-direction: column;
    width: 28px;
    height: 160px;
    cursor: pointer;

    span {
        width: 245px;
        height: 28px;
        transform: rotate(90deg);
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
    }
}

.img-contain {
    @include dFlex($g: 30px);

    img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
}

.about-header {
    @include dFlex($jc: space-between);
}

.about-me-contain {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20vh;
}

.title-contain {
    color: $color_white;

    h2 {
        font-weight: 700;
        line-height: 77px;
        font-size: 90px;
        font-family: 'Poppins';
        color: $color_white;
    }

    span {
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

.about-me-contain1 {
    display: flex;
    align-items: center;
    gap: 5vh;
    margin-top: 5vh;
    width: 45vw;
    margin-left: 5vw;

    span {
        color: $color_white;
    }
}

.image-contain {
    @include dFlex();
    margin-bottom: -179px;

    .profile-img {


        img {
            border: 4px solid #00BEE8;
            border-radius: 235px;
        }
    }
}

.about-me-vector{
    position: absolute;
    right: 0;
}