@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';
@import'./../../../media.scss';

section {
    width: 100%;
    height: 100vh;
    background-color: $background_color;
}

.contact-header {
    @include dFlex($jc: start, $g: 20px);
}

.contact-vector {
    width: 5%;
    @include dFlex($jc: start);

    img {
        width: 81%;
    }
}

.contact-text {
    width: 376px;
    height: 108px;

    h2 {
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;

    }
}

.contact-contain {
    @include dFlex($jc: space-around, $g: 50px);
}

.email-text {
    width: 50%;
    position: relative;
    overflow: hidden;
    height: auto;
}

.email-text1 {
    margin-top: 10px;
    margin-left: 100px;

    h4 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
        margin-bottom: 36px;
    }

    h5 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
        margin-bottom: 22px;

        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 19.2px;
            color: $color_white;
            text-decoration: none;
        }
    }

}

.contact-footer-vector {
    width: 359px;
    height: 528px;


}

.email-contain {
    @include dFlex();
    flex-direction: column;
    width: 50%;
    height: 100vh;

    input {
        width: 68%;
        height: 50px;
        border-radius: 10px;
        border: 1px;
        gap: 10px;
        display: block;
        background: linear-gradient(0deg, #141D2F, #141D2F),
            linear-gradient(0deg, #4B47FF, #4B47FF);
        border: 1px solid #4B47FF;
        color: $color_white;
        transition: color 0.3sec;
        margin-bottom: 30px;
        padding: 15px 25px 15px 25px;

        &::placeholder {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;

        }

        &:focus {
            width: 617px;
            height: 50px;
            color: $color_white;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;

        }
    }

    textarea {
        width: 68%;
        height: 202px;
        border-radius: 10px;
        border: 1px;
        gap: 10px;
        background: linear-gradient(0deg, #141D2F, #141D2F),
            linear-gradient(0deg, #4B47FF, #4B47FF);
        border: 1px solid #4B47FF;
        color: $color_white;
        transition: color 0.3sec;
        margin-bottom: 20px;
        padding: 15px 25px 15px 25px;

        &::placeholder {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;
            


        }

        &:focus {
            width: 68%;
            height: 202px;
            border: 1px solid red;
            color: $color_white;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;
            padding: 15px 25px 15px 25px;
        }
    }

    button {
        width: 257px;
        height: 58px;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        gap: 10px;
        background: #B6B6B6;
        box-shadow: 4px 4px 4px 0px #00000040;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;
        margin-top: 50px;
    }
}

.checkbox-contain {
    @include dFlex($jc: start, $g: 20px);
    width: 70%;

    h5 {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;

        a {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #4B47FF;
            text-decoration: none;
            text-align: center;
        }
    }
}

.vector-contact {
    display: none;
}

@media screen and (max-width: 800px) {
    .contact-footer-vector {
        display: none;
    }

    section {
        @include dFlex();
        flex-direction: column;
        height: 133vh;
    }

    .contact-header {
        width: 100vw;
    }

    .contact-vector {
        width: 30px;

        img {
            width: 20px;
            border: 4px solid #4B47FF;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    .contact-text {
        width: 188px;
        height: 54px;
        gap: 10px;

        h2 {
            font-size: 45px;
            line-height: 54px;
        }
    }

    .contact-contain {
        @include dFlex();
        flex-direction: column;
        margin-top: 0;
        position: relative;
    }

    .email-text {
        width: 340px;
    }

    .email-text1 {
        @include dFlex($g: 20px);
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
        width: 340px;
        height: 238px;

        h4 {
            font-size: 23px;
            line-height: 27.6px;
            width: 340px;
            height: 20px;
        }

        h5 {
            width: 340px;
            height: 76px;
            font-size: 16px;
            line-height: 19.2px;
        }
    }

    .email-contain {
        width: 340px;
        height: 486px;
        gap: 32px;
        z-index: 1;

        input {
            width: 86%;
            height: 40px;
            padding: 0;
            margin-bottom: 0;
            padding: 15px 25px 15px 25px;

            &:focus {
                width: 86%;
                height: 40px;
            }
        }

        textarea {
            width: 100%;
            height: 162px;
            margin-bottom: 0;
        }

        button {
            width: 195px;
            height: 49px;
            margin-top: 0;
            @include dFlex();

            span {
                width: 135px;
                height: 19px;
                font-size: 15px;
                line-height: 19.2px;
            }
        }
    }

    .checkbox-contain {
        width: 340px;
    }

    .vector-contact {
        display: block;
        width: 300px;
        height: 500px;
        overflow: hidden;
        position: absolute;
        left: -49px;
        bottom: -344px;
    }

    .vector-contact-footer {
        width: 359px;
        height: 528px;
    }

}