<section>
    <div class="contact-header">
        <div class="contact-vector">
            <img src="./../../../assets/img/shadows/contact_vector.svg" alt="">
        </div>
        <div class="contact-text">
            <h2>Contact</h2>
        </div>
    </div>

    <div class="contact-contain">
        <div class="email-text">
            <div class="email-text1">
                <h4>Got a problem to solve?</h4>
                <h5>
                    Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                    your
                    projects with my work.
                </h5>
                <h5>
                    Need a Frontend developer? <a href="">Contact me!</a>
                </h5>
            </div>
            <img class="contact-footer-vector" src="./../../../assets/img/shadows/contact_footer_vector.svg" alt="">
        </div>
        <div class="email-contain">
            <input type="text" placeholder="Your Name" [(ngModel)]="name" required>
            <input type="email" placeholder="Your email" [(ngModel)]="email" required>
            <textarea name="message" placeholder="Your message" [(ngModel)]="message" required></textarea>
            <div class="checkbox-contain">
                <img src="./../../../assets/img/shadows/contact_checkbox.svg" alt="">
                <h5>
                    I've read the
                    <a href="">privacy policy</a>
                    and agree to the processing of my data as outlined.
                </h5>
            </div>
            <button [disabled]="!isValid()" (click)="sendMessage()">
                <span>Send message :)</span>
            </button>
        </div>
        <div class="vector-contact">
            <img class="vector-contact-footer" src="./../../../assets/img/shadows/contact_footer_vector.svg" alt="">
        </div>
    </div>
</section>