@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';

section {
    width: 100%;
    height: 100vh;
    background-color: $background_color;
}

.header {
    @include dFlex($jc: space-between);
}

.photo-background {
    margin-top: 252px;
    border: 1px solid white;
}

.img-contain {
    position: absolute;
    top: 30px;
    left: 30px;
}

.text-button-contain {
    width: 772px;
    height: 300px;
    margin-right: 10vw;
    flex-direction: column;

    @include dFlex();
}

.frame3 {
    height: 172px;

    @include dFlex();

    .frame3-text {
        width: 152px;
        height: 63px;
        transform: rotate(-90deg);

        p {
            font-family: Poppins;
            font-size: 64px;
            font-weight: 400;
            line-height: 77px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;
        }
    }
}

.frame2 {
    h2 {
        width: 620px;
        height: 108px;
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
    }

    h5 {
        width: 619px;
        height: 70px;
        font-family: Poppins;
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_blue;
    }
}

.let-talk {
    width: 165px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: $color_lightblue;
    cursor: pointer;

    span {
        display: flex;
        width: 105px;
        height: 28px;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;

    }


}