@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';
@import'./../../../media.scss';

@media (max-width: 800px) {
    section {
        width: 100%;
        height: auto;
        background-color: $background_color;
    }

    .img-profile-contain {
        padding-top: 130px;
        overflow: hidden;
        width: 100%;
        height: auto;
        background-image: url('./../../../assets/img/shadows/Photo_shadows.png');
        background-size: 100% 120%;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        z-index: 1;
        border: 1px solid white;

        @include dFlex();

        img {
            height: 400px;
        }
    }

    .vector {
        width: 100%;
        height: 42vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -114px;

        img {
            width: 100%;
        }
    }

    .text-button-contain {
        border: 1px solid white;
        @include dFlex();
        margin-top: -100px;
        width: 353px;
        height: 89px;
    }

    .frame3 {
        width: 72px;
        height: 33px;

        p {
            font-size: 32px;
            line-height: 38.4px;
        }
    }

    .frame2 {
        width: 310px;
        height: 89px;

        h2 {
            font-size: 45px;
            line-height: 54px;
        }

        h5{
            font-size: 29px;
            line-height: 34.8px;
        }
    }
}

//
//.header {
//    @include dFlex($jc: space-between, $g: 70px);
//    border: 1px solid wheat;
//    z-index: 1;
//    background-position: center;
//    background-repeat: no-repeat;
//}
//
////.photo-background {
////    margin-top: 252px;
////}
//
//.img-contain {
//    background-image: url('./../../../assets/img/shadows/Photo_shadows.png');
//    width: 70%;
//    margin-top: 90px;
//    overflow: hidden;
//    border: 1px solid wheat;
//    @include dFlex();
//
//    img {
//        height: 97vh;
//    }
//}
//
.text-button-contain {
    height: 300px;
    margin-top: -30vh;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    border: 1px solid wheat;

    @include dFlex();
}

.frame3 {
    height: 172px;

    @include dFlex();

    .frame3-text {
        width: 152px;
        height: 63px;
        transform: rotate(-90deg);

        p {
            font-family: 'Poppins';
            font-size: 64px;
            font-weight: 400;
            line-height: 77px;
            letter-spacing: 0em;
            text-align: left;
            color: $color_white;
        }
    }
}

.frame2 {
    h2 {
        width: 620px;
        height: 108px;
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
    }

    h5 {
        width: 619px;
        height: 70px;
        font-family: Poppins;
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_blue;
    }
}

.let-talk {
    width: 165px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: $color_lightblue;
    cursor: pointer;

    span {
        @include dFlex();
        width: 105px;
        height: 28px;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
    }
}

//
//.vector {
//    width: 100%;
//    margin-top: -57vh;
//
//    img {
//        width: 100%;
//        height: auto;
//    }
//}
//
//.about-contain {
//    @include dFlex($jc: space-between);
//    margin-top: -85vh;
//    margin-right: 15vw;
//
//
//}
//
//.about-contain1 {
//    @include dFlex($jc: start, $g: 120px);
//
//    span {
//        font-family: Poppins;
//        font-size: 23px;
//        font-weight: 400;
//        line-height: 28px;
//        letter-spacing: 0em;
//        text-align: left;
//        text-decoration: none;
//        color: $color_white;
//    }
//}
//
//.scroll-contain {
//    @include dFlex($g: 3px);
//    flex-direction: column;
//    width: 28px;
//    height: 160px;
//    cursor: pointer;
//
//    span {
//        width: 245px;
//        height: 28px;
//        transform: rotate(90deg);
//        font-family: Poppins;
//        font-size: 23px;
//        font-weight: 400;
//        line-height: 28px;
//        letter-spacing: 0em;
//        text-align: left;
//        color: $color_white;
//    }
//}
//
//.img-contain {
//    @include dFlex($g: 30px);
//
//    img {
//        width: 30px;
//        height: 30px;
//        object-fit: contain;
//    }
//}