<section>
    <div class="header">
        <div class="photo-background">
            <img src="./../../assets/img/shadows/Photo_shadows.png" alt="">
        </div>
        <div class="img-contain">
            <img src="./../../assets/img/profild.png" alt="">
        </div>
        <div class="text-button-contain">
            <div class="frame3">
                <div class="frame3-text">
                    <p>I am</p>
                </div>
                <div class="frame2">
                    <h2>Juri Sajzew</h2>
                    <h5>FRONTEND DEVELOPER</h5>
                </div>
            </div>
            <button class="let-talk">
                <span>Let´s Talk</span>
            </button>
        </div>
    </div>
</section>