<section>
    <div class="portfolio-header">
        <div class="portfolio-contain">
            <img class="img1" src="./../../../assets/img/shadows/portfolio_vector_left.svg" alt="">
            <h2>Portfolio</h2>
            <img class="img2" src="./../../../assets/img/shadows/portfolio_vector_right.svg" alt="">
        </div>
    </div>
    <div class="text-contain">
        <h5>
            This page is a sample of my work - please feel free to try them out
        </h5>
    </div>

    <div class="project-contain">
        <div class="project-img">
            <img src="./../../../assets/img/join.svg" alt="">
        </div>
        <div>
            <h3>Join</h3>
            <h4>Angular | TypeScript | HTML | CSS | Firebase</h4>
            <h5>
                Task manager inspired by the Kanban System. Create and
                organize tasks using drag and <br>
                drop functions, assign users and categories.
            </h5>
        </div>
    </div>
</section>