@import './../../../styles.scss';
@import './../../../mixin.style.scss';
@import './../../../font.style.scss';
@import './../../../color.style.scss';
@import'./../../../media.scss';

section {
    width: 100%;
    height: auto;
    background-color: $background_color;
}

.portfolio-header {
    text-align: center;
}

.portfolio-contain {
    @include dFlex($jc: flex-end, $g: 10px);

    .img1 {
        width: 8.5%;
    }

    .img2 {
        width: 37%;
    }

    h2 {
        width: 500px;
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;
    }
}

.text-contain {
    @include dFlex();

    h5 {
        margin-top: 50px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;

    }
}

.project-contain {
    @include dFlex($g: 35px);

    .project-img {
        width: 25vw;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.project-text {
    width: 32vw;
    height: 35vh;
    @include dFlex($ai: start, $g: 10px);
    flex-direction: column;

    h3 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #4B47FF;
    }

    h4 {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #00BEE8;
    }

    h5 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $color_white;
    }
}

.button-contain {
    @include dFlex($jc: space-around);
    width: 100%;
    margin-top: 30px;

    .button1 {
        width: 156px;
        height: 58px;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        background-color: #4B47FF;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;
    }

    .button2 {
        width: 137px;
        height: 58px;
        border-radius: 10px;
        border: 1px solid $color_lightblue;
        padding: 15px 30px 15px 30px;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $color_white;
        background-color: #141d2f;

    }
}