<section>
    <div class="portfolio-header">
        <div class="portfolio-contain">
            <img class="img1" src="./../../../assets/img/shadows/portfolio_vector_left.svg" alt="">
            <h2>Portfolio</h2>
            <img class="img2" src="./../../../assets/img/shadows/portfolio_vector_right.svg" alt="">
        </div>
    </div>
    <div class="text-contain">
        <h5>
            This page is a sample of my work - please feel free to try them out
        </h5>
    </div>

    <div class="project-contain" [class.flex-row-reverse]="i % 2 != 0" *ngFor="let element of projectImg; let i = index">
        <div class="project-img">
            <img [src]="element" alt="">
        </div>
        <div class="project-text">
            <h3>{{projectName[i]}}</h3>
            <h4>{{framework[i]}}</h4>
            <h5>
                {{projectText[i]}}
            </h5>
            <div class="button-contain">
                <button class="button1">Live test</button>
                <button class="button2">Github</button>
            </div>
        </div>

    </div>
</section>